body {
  font-size: 22px;
  line-height: 34px;
}

header {
  padding: 100px 0px 50px; 
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.nav,
.header {
  background-color: #FD739C;
  color: white;  
}

.landing-section-whoami {
  padding-top: 50px;
}

.h2 {
  padding-top: 30px;
}

#nav-whoami {
  padding-bottom: 50px;
}
