.container {
  width: 976px;
  margin-left: auto;
  margin-right: auto; 
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-xs {
  flex-basis: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex-basis: 49.9995%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    flex-basis: 33.3333%;
  }
}

@media (min-width: 991px) {
  .col-lg-1 {
    flex-basis: 24.9995%;
  }
}

@media (min-width: 1200 ) {
  .col-xl-1 {
    flex-basis: 12.4996%;
  }
}
