.container {
  max-width: 976px; 
  margin-left: auto; 
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-xs-1 {
  flex-basis: 100%;
}
.col-xs-2 {
  flex-basis: 50%;
}
.col-xs-3 {
  flex-basis: 33.3333%;
}
.col-xs-4 {
  flex-basis: 25%;
}
.col-xs-5 {
  flex-basis: 20%;
}
.col-xs-6 {
  flex-basis: 16.6666%;
}
.col-xs-7 {
  flex-basis: 14.27%;
}
.col-xs-8 {
  flex-basis: 12.5%;
}
.col-xs-9 {
  flex-basis: 11.1111%;
}
.col-xs-10 {
  flex-basis: 10%;
}
.col-xs-11 {
  flex-basis: 9.09%;
}
.col-xs-12 {
  flex-basis: 8.3333%;
}

@media (min-width:576px) {
.col-sm-1 {
  flex-basis: 100%;
}
.col-sm-2 {
  flex-basis: 50%;
}
.col-sm-3 {
  flex-basis: 33.3333%;
}
.col-sm-4 {
  flex-basis: 25%;
}
.col-sm-5 {
  flex-basis: 20%;
}
.col-sm-6 {
  flex-basis: 16.6666%;
}
.col-sm-7 {
  flex-basis: 14.27%;
}
.col-sm-8 {
  flex-basis: 12.5%;
}
.col-sm-9 {
  flex-basis: 11.1111%;
}
.col-sm-10 {
  flex-basis: 10%;
}
.col-sm-11 {
  flex-basis: 9.09%;
}
.col-sm-12 {
  flex-basis: 8.3333%;
}
}

@media (min-width:768px) {
.col-md-1 {
  flex-basis: 100%;
}
.col-md-2 {
  flex-basis: 50%;
}
.col-md-3 {
  flex-basis: 33.3333%;
}
.col-md-4 {
  flex-basis: 25%;
}
.col-md-5 {
  flex-basis: 20%;
}
.col-md-6 {
  flex-basis: 16.6666%;
}
.col-md-7 {
  flex-basis: 14.27%;
}
.col-md-8 {
  flex-basis: 12.5%;
}
.col-md-9 {
  flex-basis: 11.1111%;
}
.col-md-10 {
  flex-basis: 10%;
}
.col-md-11 {
  flex-basis: 9.09%;
}
.col-md-12 {
  flex-basis: 8.3333%;
}
}

@media (min-width:991px) {
.col-lg-1 {
  flex-basis: 100%;
}
.col-lg-2 {
  flex-basis: 50%;
}
.col-lg-3 {
  flex-basis: 33.3333%;
}
.col-lg-4 {
  flex-basis: 25%;
}
.col-lg-5 {
  flex-basis: 20%;
}
.col-lg-6 {
  flex-basis: 16.6666%;
}
.col-lg-7 {
  flex-basis: 14.27%;
}
.col-lg-8 {
  flex-basis: 12.5%;
}
.col-lg-9 {
  flex-basis: 11.1111%;
}
.col-lg-10 {
  flex-basis: 10%;
}
.col-lg-11 {
  flex-basis: 9.09%;
}
.col-lg-12 {
  flex-basis: 8.3333%;
}
}

@media (min-width:1200px) {
.col-xl-1 {
  flex-basis: 100%;
}
.col-xl-2 {
  flex-basis: 50%;
}
.col-xl-3 {
  flex-basis: 33.3333%;
}
.col-xl-4 {
  flex-basis: 25%;
}
.col-xl-5 {
  flex-basis: 20%;
}
.col-xl-6 {
  flex-basis: 16.6666%;
}
.col-xl-7 {
  flex-basis: 14.27%;
}
.col-xl-8 {
  flex-basis: 12.5%;
}
.col-xl-9 {
  flex-basis: 11.1111%;
}
.col-xl-10 {
  flex-basis: 10%;
}
.col-xl-11 {
  flex-basis: 9.09%;
}
.col-xl-12 {
  flex-basis: 8.3333%;
}
}
