.container {
  max-width: 976px; 
  margin-left: auto; 
  margin-right: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}
