.container {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.container__header__button {
  font-size: 11px;
  line-height: 13px;
}
.container__header__buttons__sing-in_text {
  color: black;
}

.container__header__buttons__register_text {
  color: white;
}

.container__header__buttons_text {
  text-align: center;
  margin-top: 14px;
}

.container__body__search__field_text {
  font-size: 13px;
  text-align: left;
  opacity: 0.5;
  color: #626262;
}

.container__conditions__form_text {
  font-size: 13px;
  line-height: 24px;
  margin-top: 8px;
  color: #1D1D1D;
}
.container__conditions__form__when_text {
  text-align: center;
}
.container__conditions__form__to_text {
  padding-left: 11px;
}

.container__conditions__when_name,
.container__conditions__to_name {
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  margin-bottom: 8px;
  color: #626262;
}
.container__conditions__separator_tablet {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #626262; 
  margin-right: 10px;
  margin-left: 10px;
}

.container__body__header {
  font-size: 22px;
  line-height: 34px;
  text-align: left;
  color: #1D1D1D;
}

/* Card text styles */
.container__body__card_name {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #1D1D1D;
}

.container__body__card_features {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #626262;
}
.container__body__card_time {
  font-size: 13px;
  line-height: 21px;
  text-align: left;
  color: #1D1D1D;  
}

/* Footer text styles */
.container__footer__language-selection_lang{
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  color: #ffffff;
}

.container__footer__social_text {
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  margin-bottom: 16px;
}
.container__footer__social_hashtag {
  color: #49A144;
}
.container__footer__social_company-name {
  color: #ffffff;
}

.container__footer__navbar__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  text-align: left;
  color: #ffffff;
}
.container__footer__mini-navbar__link {
  text-decoration: none;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  color: #ffffff;
}
